@{
  Layout = "_Layout";
}

<h1>Player One Look Away</h1>
<br>
<br>
<br>
<h3>Player Two Choose:</h3>
<form action="/Result" method="post">
    <select class="form-control" name="inputTwo">
        <option disabled selected value> -- select an option -- </option>
        <option>rock</option>
        <option>paper</option>
        <option>scissors</option>
    </select>
    <br>
    <button type="submit" class="btn">Submit</button>
</form>